.register-container {
    background-color: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-button {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

    .register-button:hover {
        background-color: #218838;
    }

    .register-button:active {
        background-color: #1e7e34;
    }